@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Reset CSS */

/* Box sizing border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullet points) */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset form elements */
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Set default font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Set default background and text colors */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Add more reset styles as needed */

.App {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe0065;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.wrapper-card-pokemon {
  width: 371px;
  height: 550px;
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--KnzmzM-3--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/u67od56y2fxsrp7v9yi7.png");
  background-repeat: no-repeat;
  background-position: center;

  background-size: 104%;
}

.wrapper-pokemon-item {
  background-color: #fe0065;
}
